.bg { 
  background: linear-gradient(135deg, #EFBDC8 25%, transparent 25%) -50px 0, 
    linear-gradient(225deg, #EFBDC8 25%, transparent 25%) -50px 0, 
    linear-gradient(315deg, #EFBDC8 25%, transparent 25%), 
    linear-gradient(45deg, #EFBDC8 25%, transparent 25%);
  background-size: 100px 100px; 
  background-position-y: center;
  top: 50%;
  margin-top: -100px;
  position: fixed;
  z-index: -2;
  width: 100%;
  height: 200px;
}
.wrapper {
  color: #3E363F;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;

  margin: auto;
  right: 0;
  left: 0;
  width: 50rem;
}
.title {
  font-family: 'Bungee Inline', cursive;
  font-size: 4em;
  border-radius: 1em;
  background-color: #FFA630; 
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  justify-content: space-evenly;
}

.title > div {
  background-size: contain;
  height: 10vh;
  min-width: 10vh;
}

.m1 {
  background: url('../icons/monster1.svg') center;
}
.m2 {
  background: url('../icons/monster2.svg') center;
}
.m3 {
  background: url('../icons/monster3.svg') center;
}
.m4 {
  background: url('../icons/monster4.svg') center;
} 

.mallet {
  background: url('../icons/mallet1.svg') center no-repeat;
  background-size: 70%;
  width: 100%;
  padding-top: 100%; 
  height: 0;
}

.footer {
  border-radius: 1em;
  
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'KoHo', sans-serif;

}
.main {
  align-self: center;
  width: 45rem;
  height: min-content;
  background-color: #1E91D6;
  border-radius: 1em;
  padding: 1rem;
}

.gamewrapper {
  display: grid;
  grid-template-columns: 5fr 9fr;
}

.gamearea {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  padding: 1em;
}

.gamearea::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.gamearea > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.hole {
  background: #E8EDED;
  border-radius: 0.5em;
  margin: 0.2em;

  display: flex;
  justify-content: center;
  align-items: center;

  transition:all 0.1s;
}

.hole.up .baddie {
  display: block;
}

.baddie {
  position: absolute;
  height: 15vh;
  min-width: 15vh;
  display: none;

  transition:all 0.07s;
}

.hit {
  border-radius: 0.5em;
  background-color: #FDE74C;
}

.sidebar {
  font-family: 'Bungee', cursive;
  padding: 1em;
  background-color: #E8EDED;
  border-radius: 1em;
}

.hightlight{
  background-color: #FDE74C;
  transition: all 0.2s;
}

.meter {
  box-sizing: content-box;
  height: 20px;
  position: relative;
  margin: 20px 0 20px 0;
  background: #3E363F;
  border-radius: 25px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.meter > span {
  display: block;
  height: 100%;
  border-radius: 20px;
  background-color: #33D743;

  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  transition: all .1s ;
}

.orange > span {
  background-color: #DA627D;
}

.health {
  width: 100%;
}

.levelprogress {
  width: 0%;
}

.modal {
  display: none;  
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border-radius: 1em;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

.close {
  color: #3E363F;
  float: right;
  font-size: 28px;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.close:active {
  color: #FDE74C;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  font-size: 3em;
}

.modal-body {
  font-family: 'Bungee Hairline', cursive;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #FFA630;
  color: #fff;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: none;
}

h2 {
  font-family: 'Bungee Hairline', cursive;
  font-size: 2rem;
  font-weight: 900;
}

.left {
  align-self: baseline;
  width: 50%;
  padding: 1em;
  border-right: 1px solid #E8EDED;
}

.right {
  align-self: baseline;
  width: 50%;
  padding: 1em;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

form > p {
  width: 100%;
  font-weight: bolder;
}

input, select{
  margin-left: 3px;
  font-family: 'KoHo', sans-serif;
  margin-top: 1px;
  width: max-content;
}

select {
  width: max-content;
}

input {
  width: fit-content;
  flex-grow: 2;
}

label {
  align-self: center;
}

.scores {
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 1em;
}
.scores > div{
  font-family: 'Bungee Inline', cursive;
  padding: 2px 1em;
  display: flex;
  flex-direction: row;
}
.line{
  flex-grow: 1;
  border-bottom: 1px dashed #fefefe;
  margin: 0rem 1rem;
}

#play-again, #savebtn, #feedbackbtn {
  font-family: 'Bungee Outline', cursive;
  display: block;
  font-size: 1.5rem;
  background-color: #FDE74C;
  border: none;
  margin: 5px 0px;
  border-radius: 2px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#play-again:hover, #savebtn:hover, #feedbackbtn:hover {
  background-color: #DA627D;
  color: #fff;
}

#play-again:active, #savebtn:active, #feedbackbtn:active {
  font-family: 'Bungee', cursive;
  background-color: #33D743;
  color: #1E91D6;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

a, a:visited {
  color: #33D743;
  padding-top: 4px;
  font-family: 'Bungee', cursive;
  text-decoration: none;
  margin: 0px 2px;
}

a:hover, a:focus {
  color: #FFA630;
  font-family: 'Bungee Outline', cursive;
}

a:active {
  color: #1E91D6;
  font-family: 'Bungee Inline', cursive;
}

/* Button Start */
.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}
.front {
  font-family: 'Bungee Shade', cursive;
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 3rem;
  font-size: 4rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.pushable:hover {
  background-color: none;
  filter: brightness(110%);
}
.pushable:hover .front {
  background-color: none;
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.pushable:active .front {
  background-color: none;
  transform: translateY(-2px);
  transition: transform 34ms;
}
.pushable:hover .shadow {
  background-color: none;
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.pushable:active .shadow {
  background-color: none;
  transform: translateY(1px);
  transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
  background-color: none;
  outline: none;
}

#startbutton {
  transition: transform 34ms;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(240, 240, 240, 0.87); /* Black w/ opacity */
}
