.wrapper {
  color: #3E363F;
  position: absolute;
  display: flex;
  flex-direction: column;
  /* padding-top: 5rem; */

  margin: auto;
  right: 0;
  left: 0;
  width: 50rem;
}
.title {
  font-family: 'Bungee Inline', cursive;
  font-size: 4em;
  border-radius: 1em;
  background-color: #FFA630; 
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .m1, .m2, .m3, .m4 {
  background-size: 5em;
  height: 15vh;
  min-width: 15vh;
}
.m1 {
  background: url('../monsters/monster1.svg') center;
}
.m2 {
  background: url('../monsters/monster2.svg') center;
}
.m3 {
  background: url('../monsters/monster3.svg') center;
}
.m4 {
  background: url('../monsters/monster4.svg') center;
} */

img {
  /* max-width: 100%; */
  max-width: 1em;

  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */


}

.footer {
  border-radius: 1em;
  
  /* background-color: #33D743;  */
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'KoHo', sans-serif;

}
.main {
  align-self: center;
  width: 45rem;
  height: min-content;
  background-color: #1E91D6;
  border-radius: 1em;
  padding: 1rem;
}

.gamewrapper {
  display: grid;
  grid-template-columns: 5fr 9fr;
}

.gamearea {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  padding: 1em;
}

.gamearea::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.gamearea > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.hole {
  background: #E8EDED;
  border-radius: 0.5em;
  margin: 0.2em;

  display: flex;
  justify-content: center;
  align-items: center;

  transition:all 0.07s;
}

.hole.up .baddie {
  display: block;
}

.baddie {
  background: url('../monsters/monster1.svg') bottom center no-repeat;
  background-size: contain;
  position: absolute;
  height: 15vh;
  min-width: 15vh;
  display: none;

  transition:all 0.07s;
}

.hit {
  border-radius: 0.5em;
  background-color: #F7DEE3;
}

.sidebar {
  font-family: 'Bungee', cursive;
  padding: 1em;
  background-color: #E8EDED;
  border-radius: 1em;
}

/* Health and score meters */
.meter {
  box-sizing: content-box;
  height: 20px; /* Can be anything */
  position: relative;
  margin: 20px 0 20px 0; /* Just for demo spacing */
  background: #3E363F;
  border-radius: 25px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.meter > span {
  display: block;
  height: 100%;
  border-radius: 20px;
  background-color: #33D743;

  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  transition: all .1s ;
}

.orange > span {
  background-color: #DA627D;
}

.health {
  width: 100%;
}

.levelprogress {
  width: 0%;
}


/* END OF GAME MODAL */
.modal {
  display: none;  
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  /* border-top-left-radius: 1em;
  border-top-right-radius: 1em; */
}

/* Modal Content */

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border-radius: 1em;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: #3E363F;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #E8EDED;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  font-size: 3em;
}

/* Modal Body */
.modal-body {
  font-family: 'Bungee Hairline', cursive;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: #fff;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: none;
}

h2 {
  font-family: 'Bungee Hairline', cursive;
  font-size: 2rem;
  font-weight: 900;
}

.left {
  width: 50%;
  padding: 1em;
}

.right {
  width: 50%;
  padding: 1em;
}

input, select{
  font-family: 'KoHo', sans-serif;
  margin-top: 1px;
}

.scores {
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 1em;

}
.scores > div{
  font-family: 'Bungee Inline', cursive;
  padding: 2px 1em;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}
.line{
  flex-grow: 1;
  border-bottom: 1px dashed #fefefe;
  margin: 0rem 1rem;
}

button, #savebtn, #feedbackbtn {
  /* color:#DA627D;  */
  font-family: 'Bungee Outline', cursive;
  display: block;
  font-size: 1.5rem;
  background-color: #F7DDA1;
  border: none;
  margin: 2px 0px;
  border-radius: 2px;
}

button:hover, #savebtn:hover, #feedbackbtn:hover {
  background-color: #DA627D;
  color: #E8EDED;
}

button:active, #savebtn:active, #feedbackbtn:active {
  font-family: 'Bungee', cursive;
  background-color: #33D743;
  color: #1E91D6;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

a, a:visited {
  color: #33D743;
  padding-top: 4px;
  font-family: 'Bungee', cursive;
  text-decoration: none;
  margin: 0px 2px;
}

a:hover {
  color: #DA627D;
  font-family: 'Bungee Outline', cursive;
}

a:active {
  color: #1E91D6;
  font-family: 'Bungee Inline', cursive;
}