html {
  box-sizing: border-box;
  font-size: 10px;
  background: #53c9ff;
}

body {
  background: lightblue;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.hole {
  width: 90%;
  height: 100%;
  background: white;
  padding: .5em;
  margin: .1em;
}

.baddie {
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
}

.hole.up .baddie {
  background-color: #ff8833;
}
/* 
.hole:after {
  border: 1px solid #0000ff;
  display: block;
  background-color: chocolate;
  background-size: contain;
  content: '';
  position: absolute;
  z-index: 2;
  bottom: -30px;
}  */